[bot]
token             = OTk3NDA5NDAxNzAwODgwNDM0.Gi9B5T.QlOAlxMQQocFMfzsy6icmQeHSGhtCD6gspbxaI
owner_id          = 923915325668487190
prefix            = .

[settings]
admin_guild = 0

[weather]
openweather_token = f3923cf43434cff434343